
AddDefaultCharset UTF-8
ServerSignature Off

Options +FollowSymlinks
Options +Indexes


<FilesMatch "\.(php)$">
    <IfModule !mod_authz_core.c>
		Order deny,allow
        Deny from all
        Satisfy All
    </IfModule>
	<IfModule mod_authz_core.c>    
		Require all denied
	</IfModule>
</FilesMatch>
